
html {
	color: #fff;
	background: #000;
	text-align: center;
	font-family: "DejaVu Sans", sans-serif;
}

body {
	width: 820px;
	margin: 0px auto;
	padding: 20px;
	text-align: left;
	color: #ddd;
	background: #333;
}

a {
	color: #7ae;
}

a:focus, a:hover {
	color: #ccf;
	text-shadow: 0px 0px 1em #7ae;
}

p, table, pre {
	margin: 1em 0px;
}

a img {
	border: none;
	text-decoration: none;
}

h1, h1 a, h1 a:hover, h1 a:focus {
	text-align: center;
	font-size: 36px;
	font-weight: normal;
	padding: 1em 0px;
	border-bottom: 1px solid #888;
	text-decoration: none;
	color: #7ae !important;
	text-shadow: -1px -1px 0px #000 !important;
}

table td,
table th {
	padding: 0.3ex 1ex;
	border-collapse: collapse;
	border: none;
}

	table td a {
		display: block;
	}

ul, ol {

}
ul li, ol li {
	margin-top: 0.6ex;
	margin-bottom: 0.6ex;
}
ul, ul li {
	list-style: square;
}

.gallery_listing {
	overflow: hidden;
	clear: both;
}
	.gallery_listing .item {
		display: block;
		float: left;
		width: 140px;
		overflow: hidden;

		margin: 10px;
		padding: 8px 0px 4px 0px;
		border: 1px solid #888;
		background: #222;
		font-size: 80%;
		text-align: center;
		text-decoration: none;
	}
		.gallery_listing .item:hover,
		.gallery_listing .item:focus {
			border-color: #ccc;
		}
		.gallery_listing .item .photo,
		.gallery_listing .item .name {
			display: block;
			text-align: center;
			margin: auto;
			vertical-align: center;
		}
		.gallery_listing .item .photo {
			width: 120px;
			line-height: 120px;
		}
			.gallery_listing .item .photo img {
				vertical-align: middle;
			}
		.gallery_listing .item .name {
			padding: 2px 0px 0px 0px;
		}

.version_info {
	margin: 5em 0em 4em 0em;
	padding: 1ex 0em;
	border-top: 1px solid #888;
	text-align: center;
}

	.version_info a {
		color: #666;
		text-decoration: none;
	}
		.version_info a:hover,
		.version_info a:focus {
			text-decoration: underline;
		}


.pipeline_dump {
	margin: -20px;
	padding: 5em 0px;
	background: #000;
	text-align: center;
}
	.pipeline_dump hr {
		display: none;
	}
	.pipeline_dump img {
		margin: 1em 0px;
	}

