body {
	background: #000;
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: "DejaVu Sans", sans-serif;
	color: #ddd;
	background: #333;
	font-size: 10pt;
}

* {
	box-sizing: border-box;
}

a:hover,
a:focus {
	outline: none;
	text-decoration: underline;
}

pre {
	text-align: left;
	background: #222;
	padding: 1em;
	margin: 1em 0em;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
}

small {
	color: #aaa;
	font-size: 80%;
}

header,
main,
footer {
	width: auto;
	position: relative;
	margin: 0em;
	padding: 0em;
}

header nav {
	background: #222;
}

	header nav {
		margin: 0em auto;
		padding: 0em;
	}

	header nav {
		display: flex;
		text-align: left;
		flex-flow: row nowrap;
		justify-content: center;
		overflow: hidden;
	}

	header nav ul {
		display: flex;
		list-style: none;
		margin: 0em auto;
		padding: 0em 3em 0em 0em;
		flex-basis: 65em;
	}

	header nav ul li {
		list-style: none;
		margin: 0em;
		padding: 0em;
		display: inline-block;
	}

	header nav ul li a {
		height: 100%;
		display: block;
		position: relative;
		left: -2.5em;
		padding: 0.5em 1em 0.5em 2.5em;
		margin: 0em;
	}

	header nav ul li a:hover,
	header nav ul li a:focus {
		background: #000;
		text-decoration: none;

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#222222+0,000000+50,000000+50,000000+100 */
		background: -moz-linear-gradient(left, rgba(34,34,34,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(34,34,34,1) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(34,34,34,1) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 50%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
	}

	header nav ul li a:hover:after,
	header nav ul li a:focus:after {
		border-left-color: #000;
	}

	header nav ul li a:before,
	header nav ul li a:after {
		content: " ";
		display: block;
		position: absolute;
		top: 50%;
		width: 0px;
		height: 0px;
		border-top: 3em solid transparent;
		border-bottom: 3em solid transparent;
		border-left: 2em solid #222;
		margin-top: -3em; 
		right: -1em;
		z-index: 2;
	}

	header nav ul li a:before {
		border-left-color: #333;
		right: -1.3em;
		z-index: 1;
	}


main {
	margin: 1em 3% 20% 3%;

}

	main .gallery_dav_link {
		text-align: center;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
		main .gallery_dav_link,
		main .gallery_dav_link a {
			color: #888;
		}

footer {
	margin-bottom: 30%;
}


a {
	color: #7ae;
	text-decoration: none;
}

a:focus, a:hover {
	color: #ccf !important;
	text-shadow: 0px 0px 1em #7ae;
}

p, table, pre {
	margin: 1em 0px;
}

a img {
	border: none;
	text-decoration: none;
}

h1 {
	padding: 0em;
	margin: 1em 1em 0.5em 1em;
}

time.title {
	display: block;
	text-align: center;
	margin: 1em;
}

h1, h1 a {
	text-align: center;
	font-size: 36px;
	font-weight: normal;
	text-decoration: none;
	color: #7ae !important;
	text-shadow: -1px -1px 0px #000 !important;
}

h1 + h2 {
	border-bottom: 1px solid #888;
	margin: 0em;
	padding: 1em 0px;
}

h1 + h2, h1 + h2 * {
	font-size: 1.5em;
	font-family: monospace;
	color: #7ae !important;
	text-shadow: -1px -1px 0px #000 !important;
	text-decoration: none;
}

table.table {
	border: none;
	background: transparent;
	border-collapse: collapse;
	max-width: 65em;
	margin: 2em auto;
}

table.table td,
table.table th {
	padding: 0.3ex 1ex;
	border: none;
	background: transparent;
	text-align: left;
}

	table td a {
		display: block;
	}

ul, ol {

}
ul li, ol li {
	margin-top: 0.6ex;
	margin-bottom: 0.6ex;
}
ul, ul li {
	list-style: square;
}

.gallery_listing {
	text-align: center;
	margin: 2em 0em;
}

	ul.gallery_listing {
		max-width: 65em;
		margin: 2em auto;
		text-align: left;
	}

	.gallery_listing .item {
		display: inline-block;
		position: relative;
		padding: 0px 0px 1.2em 0px;
		margin: 0em 0.3ex;
	}

		.gallery_listing .item .photo,
		.gallery_listing .item .name {
			display: block;
			text-align: center;
			padding: 0px;
			margin: 0px;
		}

		.gallery_listing .item .photo {
			position: relative;
			border: 1px solid #000;
			/* min-height: 160px; */
			/* min-width: 100px; */
			background: #444;
			box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		}

		.gallery_listing .item .photo img {
			display: block;
			margin: 0px auto;
		}

		.gallery_listing .item .name {
			font-size: 80%;
			overflow: hidden;
			white-space: nowrap;
			height: 1.5em;
			padding: 0.2em;
			margin: 0px;
			position: absolute;
			bottom: 0px;
			left: 1ex;
			right: 1ex;
			width: auto;
			text-overflow: ellipsis;
		}

	.gallery_listing .item:hover,
	.gallery_listing .item:focus {
	}

		.gallery_listing .item:hover *,
		.gallery_listing .item:focus * {
			border-color: #ccf;
		}

	.gallery_listing .item:active .photo {
		left: 1px;
		top: 1px;
		box-shadow: none;
	}

.mfp-arrow {
	opacity: 0.15;
}

	.mfp-arrow:focus {
		opacity: 0.15;
	}

	.mfp-arrow:hover,
	.mfp-arrow:focus:hover {
		opacity: 1;
	}

